/* 卡片容器 */
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 10px 0;
  padding: 10px 15px;
  transition: transform 0.2s ease;
  max-width: 350px;
  max-height: 250px;
  overflow-y: auto;
}

.card:hover {
  transform: translateY(-3px);
}

/* 封面图片 */
.card img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

/* 信息 */
.card .info .artist{
  flex: 1;
  display: flex;
  max-height: 200px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.card .title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  overflow-y: break-word;
}

.card .artist {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}
